.popup__create {
  width: 100%;
  margin: 8px auto 37px;
  padding: 14px 0 14px;
  font-size: 18px;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  opacity: 1;
  transition: opacity .3s linear;
  cursor: pointer;
}

.popup__create:hover {
  opacity: 0.8;
}