.photo-grid__element-delete {
  background-image: url(../../../images/delete.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s linear;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.photo-grid__element-delete:hover {
    opacity: 0.6;
}